.colorMarginStyle {
  margin-top: 30px;
  color: #5c6ac4;
  border: 3px solid #5c6ac4;
}

.colorGold {
  color: #FFD700;
}

.coloredText1 {
  color: #009900;
}

.coloredText2 {
  color: #999000;
}

.coloredText3 {
  font-size: 20px;
  color: #00CD00;
}