
.loginFormScss {
  width: 100%;
  @include display-flex-wrap;
  // background: #ffffff;
  background: #999000; // tan

  .formTitle {
    @include font-size(30px);
    color: #000999;
    text-align: center;
    width: 100%;
  }

  .wrapInput {
    position: relative;
    width: 100%;
    z-index: 1;

    label {
      @include tester-font4; // 'American Typewriter'
    }

    .input {
      font-size: 18px;
      line-height: 1.2;
      color: #009900;
      display: block;
      width: 100%;
      background: #e6e6e6;
      // height: 32px;
      // border-radius: 1px;
      // padding: 0 10px 0 25px;
    }
  }

  .containerBtn {
    width: 100%;
    @include display-flex-wrap;
    justify-content: center;
    button {
      width: 50%;
    }
  }

  .orLoginWith {
    width: 100%;
    text-align: center;
    color: #999999;
    line-height: 1.4;
  }
}

// z-index scales  https://getbootstrap.com/docs/4.0/extend/approach/
// 
// There are two z-index scales in Bootstrap—elements within a component and overlay components.

// Component elements:
// * Some components in Bootstrap are built with overlapping elements to prevent double borders without modifying the border property. For example, button groups, input groups, and pagination.
// * These components share a standard z-index scale of 0 through 3.
// * 0 is default (initial), 1 is :hover, 2 is :active/.active, and , 3 is :focus.
// * This approach matches our expectations of highest user priority. If an element is focused, it’s in view and at the user’s attention. Active elements are second highest because they indicate state. Hover is third highest because it indicates user intent, but nearly anything can be hovered.
